@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  height: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main: var(--bg-main);
  --color-primary: var(--text-primary);
}

:root {
  --bg-main: #d6d3d1;
  --text-primary: #44403b;
}

.dark {
  --bg-main: #1c1917;
  --text-primary: #a6a09b;
}
