@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main: var(--bg-main);
  --color-nav: var(--bg-nav);
  --color-primary: var(--text-primary);
}

:root {
  --bg-nav: #d4d4d4;
  --bg-main: #d4d4d4;
  --text-primary: #404040;
}

.dark {
  --bg-nav: #525252;
  --bg-main: #404040;
  --text-primary: #d4d4d4;
}
